{%if PageBoard %}
        {% for PBoard1 in PageBoard%}
          
          <div class="course-item" link="/Course/{{PBoard1.id}}">
            <div class="course-count">
              <div>
                <span style="color:rgb(108,163,129); font-size:30px; margin-bottom:20px;">SEAL</span>
                <span style="color:rgb(108,163,129); font-size:45px;">{{PBoard1.Total_Count}}</span>
              </div>
            </div>
            <div class="course-div">
              <span style="font-size:30px; line-height: 30px; margin-bottom:10px;" class="course-name">{{PBoard1.Course.CourseName}}</span>
              <span style="font-size:25px; margin-bottom:10px;" class='course-code'>{{PBoard1.Course.Code}}</span>
              <span style="font-size:25px; margin-bottom:10px;" class ='course-professor'>{{PBoard1.Course.Professor|ChangeName}}</span>
            
            </div>
            <div style="display:flex; flex-direction:column; justify-content: space-around;" class="course-homework">
              
              {%if PBoard1.Total_Homework|calculateTotal:PBoard1.Total_Count <= 10 and PBoard1.Total_Homework|calculateTotal:PBoard1.Total_Count > 7 %}
              <span  style="font-size:25px;">과제량</span><span class="top-grade" >상</span>
              {%elif PBoard1.Total_Homework|calculateTotal:PBoard1.Total_Count <= 7 and PBoard1.Total_Homework|calculateTotal:PBoard1.Total_Count > 3%}
              <span style="font-size:25px;">과제량</span><span class="middle-grade" >중</span>
              
              {%elif PBoard1.Total_Homework|calculateTotal:PBoard1.Total_Count <= 3 and PBoard1.Total_Homework|calculateTotal:PBoard1.Total_Count >= 0 %}
              <span style="font-size:25px;">과제량</span><span class="bottom-grade" >하</span>
              {%else%}
              <span style="font-size:25px;">과제량</span><span class="top-grade" >상</span>
              {%endif%}
            </div>
            <div style="display:flex; flex-direction:column; justify-content: space-around;" class="course-difficulty">
              {%if PBoard1.Total_Level_Difficulty|calculateTotal:PBoard1.Total_Count <= 10 and PBoard1.Total_Level_Difficulty|calculateTotal:PBoard1.Total_Count  > 7 %}
              <span style="font-size:25px;">난이도</span><span class="top-grade" >상</span>
              {%elif PBoard1.Total_Level_Difficulty|calculateTotal:PBoard1.Total_Count <= 6 and PBoard1.Total_Level_Difficulty|calculateTotal:PBoard1.Total_Count > 3 %}
              <span style="font-size:25px;">난이도</span><span class="middle-grade" >중</span>
              {%elif PBoard1.Total_Level_Difficulty|calculateTotal:PBoard1.Total_Count <= 3 and PBoard1.Total_Level_Difficulty|calculateTotal:PBoard1.Total_Count >= 0 %}
              <span style="font-size:25px;">난이도</span><span class="bottom-grade" >하</span>
              {%else%}
              <span style="font-size:25px;">난이도</span><span class="top-grade" >상</span>
              {%endif%}
            </div>
            <div style="display:flex; flex-direction:column; justify-content: space-around;" class="course-eval">
              <span style="font-size:25px;">평점</span><span style="display:flex; align-items:center;height:70px;font-size:35px;">{{PBoard1.Total_StarPoint|mCalculateTotal:PBoard1.Total_Count}}</span>
            </div>

          </div>
          
        {% endfor%}
      {%endif%} 
      {% if is_paginated %}
      {%if page_obj.has_next%}
      <a style="display:none;" id= "next" class="SPage" name="{{page_obj.next_page_number}}">강의 더보기</a>
      {%endif%}
      
      {%endif%}